{% extends 'base.html.twig' %}

{% block title %}Hello HatController!{% endblock %}

{% block body %}

        <div class="border border-2 w-25 p-3">
            <h3>je suis le chapeau</h3>
            <p>{{ hat.name }}</p>
            <p>{{ hat.price }}</p>

        </div>

{% endblock %}
